body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 5px;
}
header {
    background-color: aqua;
    padding: 10px;
    text-align:right;
}
nav{
    background-color: bisque;
    padding: 10px;
}
ul li{
    display: inline;
    margin-right: 15px;
}
main{
    pad: 20px;
}
img{
    display:block;
    margin:0%;
    max-width: 4%;
    height: 4%;

}